.body{
    font-family: 'Anton', sans-serif;

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0%;
    left: 0%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../image/backgroundimg.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
*.img{
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
}

.nav .nav__list{
    color: #ffffff;
    display: flex;
    position: fixed;
    right: 0;
    top: 7%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Anton', sans-serif;
    background: linear-gradient(90deg, rgba(17, 17, 17, 0.185) 0%, rgba(35,35,35,1) 100%);
    height: auto;
    width: 100%;
}
nav ul li{
    margin-right: 50px;
    font-size: 30px;
    list-style-type: none;
}
a{color: white;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(17, 17, 17);
    height: 4.5vh;
    color: rgb(117, 53, 0);
}
.pic-phone{
    height: 3vh;
}


.oferta-contain>span{
    color: black; 
}

.mail-footer{
    margin-left: 10px;
}

i{
    color: rgb(160, 160, 160);
}

/*OFERTA*/
div.oferta-contain{
    filter: brightness(80%);
    height: 100%;
    z-index: -1;
}