.body{
    font-family: 'Anton', sans-serif;

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    top: 0%;
    left: 0%;
    background-image: url("../image/backgroundimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
*.img{
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
}

.nav .nav__list{
    color: #ffffff;
    display: flex;
    position: fixed;
    right: 0;
    top: 7%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Anton', sans-serif;
    background: rgb(31, 103, 185);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(35,35,35,1) 100%);
    height: auto;
    width: 100%;
}
nav ul li{
    margin-right: 50px;
    font-size: 30px;
    list-style-type: none;
}
a{color: white;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline}