
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */